@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        border-radius: 10px;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }
    }
}

@media (max-width: 768px) {
    .app {
        &__banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 285px;
            padding: 10px;
            img {
                width: 150px;
            }
            &-text {
                text-align: center;
                padding-left: 0;
            }
        }
        
    }
}